@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 100px;
  font-family: open Sans;
}
h1 {
  padding: 0.5em;
  font-size: 3em;
}

h2 {
  padding: 0.5em;
  font-size: 2.5em;
}
h3 {
  padding: 0.5em;
  font-size: 2em;
}

p {
  padding: 0.5em;
  font-size: 1.5em;
}
/* remove bullets from the nav */
ul{
  list-style-type: none; 
  font-size: 1.5em;
  
}
/* remove underline from the nav */
ul a {
  text-decoration: none;
  color: white;
}
/* to arrange (to display)the menu items horizontally */
ul li {
  display: inline-block;
  padding: 10px;
  
}

header {
width: 100%;
color: white;
text-align: center;
background-color: black;
}

.container {
width: 100%;
height: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
}
/* let each image occupy 100% of its grid */
article img {
width: 100%;
height: 100%;
}

article.applepies {
grid-column: span 2;
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
}

article.advert {
grid-column: span 2;
display: grid;
grid-template-columns: 1fr;
align-items: center;
}

article.flavours {
grid-column: span 2;
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
}

.content_main {
background-color: pink;
}

.references_main {
  background-color: pink;
  width: 100%;
  }

footer {
  width: 100%;
  min-height: 8em;
  text-align: center;
  background-color: black;
  color: white;
  }
  .order-name {
    background-color: pink;
    padding: 60px;
  }
 /* Page 2 layout */

 .content_main {
  width: 100%
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* row-gap: 10px; */
}
/* let each image occupy 100% of its grid */
article img {
  width: 100%;
  height: 100%;
}

article.applepies {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
article.applepies2{
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
article.flavours {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
article.flavours2 {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
